<!DOCTYPE html>
<html>
<head>
  <title>Movie Grab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <link href='https://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>

<%= render "layouts/header" %>
<% if current_user %>
<div class="container">
	<%= yield %>
</div>
<% else %>
<%= yield %>
<% end %>
</body>
</html>
